@import url(../css2.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  /* 添加模糊毛玻璃背景 */
  backdrop-filter: blur(10px);
  /* 模糊效果 */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: slideTop 1s ease forwards;
}

.intro {
  display: flex;
  font-size: 20px;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 3rem;
}

.text {
  flex: 1;
  padding: 2rem;
}
.rules {
  flex: 1;
  padding: 10rem;
  font-size: 22px;
}
.test-head{
  font-size: 30px;
  padding: 2rem;
}
.ui-icon {
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.img {
  flex: 1;
  background-image: url('https://pic.imgdb.cn/item/64d627bf1ddac507cc489b69.png');
  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0 0 20px #000000;
}

.features {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* 分块设计 */
  gap: 1.5rem;
  animation: slideTop 1s ease forwards
}

.feature {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 2px #000000;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.feature:hover {
  transform: scale(1.05);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}